@mixin alert {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: var(--bootstrip-layout-radius);

    &.primary {
        color: var(--bootstrip-color-congressBlue);
        background-color: var(--bootstrip-color-edgewater);
        border-color: var(--bootstrip-color-frenchPass);
    }

    &.success {
        color: var(--bootstrip-color-jewel);
        background-color: var(--bootstrip-color-edgewater);
        border-color: var(--bootstrip-color-edgewaterDark);      
    }

    &.danger {
        color: var(--bootstrip-color-crownOfThorns);
        background-color: var(--bootstrip-color-cherub);
        border-color: var(--bootstrip-color-azalea);   
    }

    &.warning {
        color: var(--bootstrip-color-antiqueBronze);
        background-color: var(--bootstrip-color-barleyWhite);
        border-color: var(--bootstrip-color-butterMilk);  
    }

    &.dark {
        color: var(--bootstrip-color-woodsmoke);
        background-color: var(--bootstrip-color-iron);
        border-color: var(--bootstrip-color-silverSand);
    }
}

.alert {
    @include alert;
}

x-alert {
    @include alert;
}