@mixin badge{
    background-color: var(--color-blueRibbon);    
    color: var(--color-white);
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    border-radius: 50rem;

    &.success {
        background-color: var(--color-jewel);
    }

    &.danger {
        background-color: var(--color-punch);
    }

    &.warning {
        color: var(--color-black);
        background-color: var(--color-corn);
    }

    &.dark {
        background-color: var(--color-woodsmoke);
    }
}

x-badge {
    @include badge;
}

.badge {
    @include badge;
}