@mixin badge{
    background-color: var(--bootstrip-color-blueRibbon);    
    color: var(--bootstrip-color-white);
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    border-radius: 50rem;

    &.--success {
        background-color: var(--bootstrip-color-genoa);
    }

    &.--danger {
        background-color: var(--bootstrip-color-punch);
    }

    &.--warning {
        color: var(--bootstrip-color-black);
        background-color: var(--bootstrip-color-amber);
    }

    &.--dark {
        background-color: var(--bootstrip-color-woodsmoke);
    }
}

x-badge {
    @include badge;
}

.badge {
    @include badge;
}