:root {
    --bootstrip-layout-clampWidth: 1000px;
    --bootstrip-layout-radius: .25rem;
    --bootstrip-layout-lineheight: 1.5;
    --bootstrip-layout-gutter: 16px;
    --bootstrip-font-undersize: .875em;
    --bootstrip-font-headerFace: 'Roboto', sans-serif;
    --bootstrip-font-bodyFace: 'Open Sans', sans-serif;
    --bootstrip-font-logoFace: 'Righteous', sans-serif;
    --bootstrip-transition-standard: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    --bootstrip-color-white: #fff;
    --bootstrip-color-barleyWhite: #fff3cd;
    --bootstrip-color-butterMilk: #ffecb5;
    --bootstrip-color-blueRibbon: #0d6efd;
    --bootstrip-color-congressBlue: #084298;
    --bootstrip-color-mirage: #1A1C28;
    --bootstrip-color-mirageDark: #151830;
    --bootstrip-color-oxfordblue: #373f50;
    --bootstrip-color-edgewater: #d1e7dd;
    --color-edgewaterDark: #badbcc;
    --color-frenchPass: #b6d4fe;
    --color-mediumPurple: #8572E3;
    --color-cherub: #f8d7da;
    --color-azalea: #f5c2c7;
    --color-amber: #ffc107;
    --color-corn: #E9AF01;
    --color-jewel: #0f5132;
    --color-genoa: #198754;
    --color-crownOfThorns: #842029;
    --color-punch: #dc3545;
    --color-antiqueBronze: #664d03;
    --color-iron: #d3d3d4;
    --color-ghost: #CDCED8;
    --color-silverSand: #bcbebf;
    --color-athensGray: #e9ecef;
    --color-manatee: #8B8E9E;
    --color-paleSky: #6c757d;
    --color-gunPowder: #484B60;
    --color-woodsmoke: #141619;
    --color-black: #000;
    --color-blackRGB: 0,0,0;
}

body {
    font-family: var(--bootstrip-font-bodyFace);
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--bootstrip-layout-lineheight);
    color: var(--color-gunPowder);
    background-color: var(--bootstrip-color-white);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

