@import './mixins';

@mixin button {
    @include focusBehaviour;
    margin: .25rem .125rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: var(--layout-radius);
    transition: var(--transition-standard);
    color: var(--color-white);
    background-color: var(--color-blueRibbon);
    border-color: var(--color-blueRibbon);    

    &:hover {
        background-color: var(--color-congressBlue);
        border-color: var(--color-congressBlue);
    }

    &.success {
        color: var(--color-white);
        background-color: var(--color-genoa);
        border-color: var(--color-genoa);

        &:hover {
            background-color: var(--color-jewel);
            border-color: var(--color-jewel);
        }
    }

    &.danger {
        color: var(--color-white);
        background-color: var(--color-punch);
        border-color: var(--color-punch);

        &:hover {
            background-color: var(--color-crownOfThorns);
            border-color: var(--color-crownOfThorns);
        }
    }

    &.warning {
        color: var(--color-black);
        background-color: var(--color-amber);
        border-color: var(--color-amber);
        
        &:hover {
            background-color: var(--color-corn);
            border-color: var(--color-corn);
        }        
    }

    // must be applied AFTER custom button type overrides to allow this to win against them
    @include disabledBehaviour;
}

.button {
    @include button;
}