@import './mixins';

@mixin button {
    @include focusBehaviour;
    margin: .25rem .125rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: var(--bootstrip-layout-radius);
    transition: var(--bootstrip-transition-standard);
    color: var(--bootstrip-color-white);
    background-color: var(--bootstrip-color-blueRibbon);
    border-color: var(--bootstrip-color-blueRibbon);    

    &:hover {
        background-color: var(--bootstrip-color-congressBlue);
        border-color: var(--bootstrip-color-congressBlue);
    }

    &.success {
        color: var(--bootstrip-color-white);
        background-color: var(--bootstrip-color-genoa);
        border-color: var(--bootstrip-color-genoa);

        &:hover {
            background-color: var(--bootstrip-color-jewel);
            border-color: var(--bootstrip-color-jewel);
        }
    }

    &.danger {
        color: var(--bootstrip-color-white);
        background-color: var(--bootstrip-color-punch);
        border-color: var(--bootstrip-color-punch);

        &:hover {
            background-color: var(--bootstrip-color-crownOfThorns);
            border-color: var(--bootstrip-color-crownOfThorns);
        }
    }

    &.warning {
        color: var(--bootstrip-color-black);
        background-color: var(--bootstrip-color-amber);
        border-color: var(--bootstrip-color-amber);
        
        &:hover {
            background-color: var(--bootstrip-color-corn);
            border-color: var(--bootstrip-color-corn);
        }        
    }

    &.dark {
        background-color: var(--bootstrip-color-woodsmoke);
        border-color: var(--bootstrip-color-woodsmoke);
        
        &:hover {
            background-color: var(--bootstrip-color-gunPowder);
            border-color: var(--bootstrip-color-woodsmoke);
        }        
    }

    // must be applied AFTER custom button type overrides to allow this to win against them
    @include disabledBehaviour;
}

.button {
    @include button;
}