.card {
    background-color: var(--color-white);
    border: 1px solid rgba(var(--color-blackRGB), .125);
    border-radius: var(--layout-radius);
}

.card-pad {
    padding: 0 1rem;

    &:first-of-type {
        padding-top: 1rem;      
    }

    &:last-of-type {
        padding-bottom: 1rem;      
    }
}

