.card {
    background-color: var(--color-white);
    border: 1px solid rgba(var(--color-blackRGB), .125);
    border-radius: var(--layout-radius);
}

.card-pad {
    padding: 0 1rem;

    &:first-of-type {
        padding-top: 1rem;      
    }

    &:last-of-type {
        padding-bottom: 1rem;      
    }
}

/*
.card-header {
    padding: 1.5rem 1.5rem;
    border-radius: 0.125rem 0.125rem 0 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0 solid var(--color-silverSand);
}
*/
