@mixin fixedWidthHeader {
    background-color: var(--bootstrip-color-oxfordblue);
}

@mixin fixedWidthHeader-logoContainer {
    color: var(--bootstrip-color-white);

    font-family: var(--bootstrip-font-logoFace);
    width: 11rem;

    i {
        font-size: 34px;
    }
}

@mixin fixedWidthHeader-content {
    background-color: var(--bootstrip-color-paleSky);
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem 1rem;     
    height: 4rem;    

    x-fixedWidthHeader.clamped &,
    .fixedWidthHeader.clamped & {
        background-color: transparent;
    }

}

@mixin fixedWidthHeader-logo {
    font-size: 22px;
}

.fixedWidthHeader {
    @include fixedWidthHeader;
}

.fixedWidthHeader-content {
    @include fixedWidthHeader-content;
}

.fixedWidthHeader-logo {
    @include fixedWidthHeader-logo;
}

.fixedWidthHeader-logoContainer {
    @include fixedWidthHeader-logoContainer;
}

x-fixedWidthHeader {
    @include fixedWidthHeader;
}

x-fixedWidthHeader-content {
    @include fixedWidthHeader-content;
}

x-fixedWidthHeader-logo {
    @include fixedWidthHeader-logo;
}

x-fixedWidthHeader-logoContainer {
    @include fixedWidthHeader-logoContainer;
}