.fixedWidthHeader-logoContainer {
    font-family: var(--font-logoFace);
    .icon {
        font-size: 34px;
    }
    width: 11rem;
}

.fixedWidthHeader-logo {
    font-size: 22px;
}

x-fixedWidthHeader-logo {
    @extend .fixedWidthHeader-logo;
}

x-fixedWidthHeader-logoContainer {
    @extend .fixedWidthHeader-logoContainer;
}