// expose properties
:root {
    --bootstrip-module-footer-height: 8rem;
}

@mixin footer {
    background-color: var(--bootstrip-color-oxfordblue);
    min-height: var(--bootstrip-module-footer-height);
    color: var(--bootstrip-color-ghost);
    
    a {
        color: var(--bootstrip-color-white);

        &:hover {
            color: var(--bootstrip-color-iron);
        }
    }
}

x-footer,
.footer {
    @include footer;
}