@import './mixins';

@mixin inputBase {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bootstrip-color-woodsmoke);
    background-color: var(--bootstrip-color-white);
    background-clip: padding-box;
    border: 1px solid var(--bootstrip-color-silverSand);
    border-radius: var(--bootstrip-layout-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    margin-bottom: .5rem;

    &[disabled] {
        color: var(--bootstrip-color-silverSand);     
    }      
}


input[type=password] {
    @include inputBase;
    @include focusBehaviour;
    @include disabledBehaviour;    
}

input[type=email] {
    @include inputBase;
    @include focusBehaviour;
    @include disabledBehaviour;   
}

input[type=file] {
    @include inputBase;
    @include focusBehaviour;
    @include disabledBehaviour;    
}

input[list] {
    @include inputBase;
    @include focusBehaviour;
    @include disabledBehaviour;    
}

input[type=text] {
    @include inputBase;
    @include focusBehaviour;
    @include disabledBehaviour;    
}

textarea {
    @include inputBase;
    @include focusBehaviour;
    @include disabledBehaviour;
}

input[type=checkbox] {
    @include focusBehaviour;
    @include disabledBehaviour;    
    width: 1em;
    height: 1em;
    border-radius: var(--bootstrip-layout-radius);
    border: 1px solid rgba(var(--bootstrip-color-blackRGB),.25);
    background-color: var(--bootstrip-color-white);
    margin-top: .25em;

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        background-color: var(--bootstrip-color-blueRibbon);
        border-color: var(--bootstrip-color-blueRibbon);
    }
}

select {
    @include focusBehaviour;
    @include disabledBehaviour;    
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bootstrip-color-woodsmoke);
    background-color: var(--bootstrip-color-white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--bootstrip-color-silverSand);
    border-radius: var(--bootstrip-layout-radius);

    &[multiple]{
        padding-right: .75rem;
        background-image: none;
    }    
}

@mixin tip {
    @include quietText;
    display: block;
    margin-top: .25rem;
}

@mixin radiolist {
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

.tip {
    @include tip;
}

x-tip {
    @include tip;
}

// use this wrapper to stack radio buttons
.radiolist {
    @include radiolist;
}

// use this wrapper to stack radio buttons
x-radiolist {
    @include radiolist;
}
