@import './../../base/sass_variables.scss';

@mixin header {
    background-color: var(--bootstrip-color-oxfordblue);

    // from elements inside header must not bring their spacing with them
    form {
        margin-bottom: 0;
    }
}

@mixin header-logoContainer {
    color: var(--bootstrip-color-white);
    font-family: var(--bootstrip-font-logoFace);
    width: 11rem;

    i {
        font-size: 34px;
    }
}

@mixin header-content {
    background-color: var(--bootstrip-color-paleSky);
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem 1rem;
    height: 4rem;

    x-header.--clamped &,
    .header.--clamped & {
        background-color: transparent;
    }

    @media #{$mediaQuery-belowSmall} {
        top: 64px;
        height: auto;
    }
}

@mixin header-contentItem {
    @media #{$mediaQuery-aboveSmall} {
        margin-left: 3rem;
    }

    @media #{$mediaQuery-belowSmall} {
        display: block;
        min-height:58px;
        width: 100%;
    }
    
    input{
        height: 50px;
    }

    .icon {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: 8px;
        cursor: pointer;
        font-size:28px;
    }

    a {
        color: var(--bootstrip-color-white);
        @media #{$mediaQuery-belowSmall} {
            font-size: 26px;
            bottom: -10px;
            position: relative;
        }

    }
}

@mixin header-logo {
    font-size: 22px;
}

@mixin header-toggle {
    color: var(--bootstrip-color-white);
    font-size: 38px;
    right: 8px;
}

x-header,
.header {
    @include header;
}

x-header-content,
.header-content {
    @include header-content;
}

x-header-logo,
.header-logo {
    @include header-logo;
}

x-header-logoContainer,
.header-logoContainer {
    @include header-logoContainer;
}

x-header-contentItem,
.header-contentItem {
    @include header-contentItem;
}

x-header-toggle,
.header-toggle {
    @include header-toggle;
}