@mixin header {
    background-color: var(--bootstrip-color-oxfordblue);

    // from elements inside header must not bring their spacing with them
    form {
        margin-bottom: 0;
    }
}

@mixin header-logoContainer {
    color: var(--bootstrip-color-white);
    font-family: var(--bootstrip-font-logoFace);
    width: 11rem;

    i {
        font-size: 34px;
    }
}

@mixin header-content {
    background-color: var(--bootstrip-color-paleSky);
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem 1rem;     
    height: 4rem;    

    x-header.--clamped &,
    .header.--clamped & {
        background-color: transparent;
    }
}

@mixin header-contentItem {
    .icon{
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: var(--bootstrip-layout-gutter);
        cursor: pointer;
    }

    a {
        color: var(--bootstrip-color-white);
    }
}

@mixin header-logo {
    font-size: 22px;
}

.header {
    @include header;
}

.header-content {
    @include header-content;
}

.header-logo {
    @include header-logo;
}

.header-logoContainer {
    @include header-logoContainer;
}

x-header {
    @include header;
}

x-header-content {
    @include header-content;
}

x-header-logo {
    @include header-logo;
}

x-header-logoContainer {
    @include header-logoContainer;
}

.header-contentItem {
    @include header-contentItem;
}

x-header-contentItem {
    @include header-contentItem;
}
