@mixin iconStrip {
    background-color: var(--bootstrip-color-ghost);
    column-gap: 4px;  
    font-size: 24px;
    grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
    padding: 4px;
    row-gap: 4px;
}

@mixin iconStrip-item {
    border-radius: var(--bootstrip-layout-radius);
    background-color: var(--bootstrip-color-white);
    transition: var(--bootstrip-transition-standard);
    color: var(--bootstrip-color-genoa);
    height: 72px;

    a {
        padding-top: 8px;
        color:inherit;
    }

    &:hover,
    &.--active {
        background-color: var(--bootstrip-color-genoa);
        color: var(--bootstrip-color-white);
       
        x-iconStrip-text, 
        .iconStrip-text {
            color: var(--bootstrip-color-white);
        }
    }
}

@mixin iconStrip-text {
    font-size: 12px;
    color: var(--bootstrip-color-manatee);
}

.iconStrip {
    @include iconStrip;
}

.iconStrip-text {
    @include iconStrip-text;
}

.iconStrip-item {
    @include iconStrip-item;
}

x-iconStrip {
    @include iconStrip;
}

x-iconStrip-text {
    @include iconStrip-text;
}

x-iconStrip-item {
    @include iconStrip-item;
}