@import './card';
@import './mixins';

@mixin list {
    @include card;
    margin-bottom: 1.5rem;
}

@mixin list-header {
    @include card-header;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    .list.dense &,
    x-list.dense & {
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h1, 
    .header1 {
        margin-bottom: 0;
    }

    h2,
    .header2 {
        margin-bottom: 0;
    } 

    h3, 
    .header3 {
        margin-bottom: 0;
    }

    h4, 
    .header4 {
        margin-bottom: 0;
    }

    h5, 
    .header5 {
        margin-bottom: 0;
    } 
    
    h6, 
    .header6 {
        margin-bottom: 0;
    }
}

@mixin list-row {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--bootstrip-color-athensGray);

    .list.dense &,
    x-list.dense & {
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: .25rem;
        padding-top: .25rem;
   
    }
}

@mixin list-cell {
    padding-right: 1rem;
    padding-right: 15px;
    padding-left: 15px;    

    .list.dense &,
    x-list.dense & {
        //padding-right: .5rem;
        //padding-right: 1px;
        //padding-left: 1px;    
    }


    &.header {
        @include typography-smallHeader;
    }
}

.list {
    @include list;
}

.list-header {
    @include list-header;
}

.list-row {
    @include list-row;
}

.list-cell {
    @include list-cell;
}

x-list {
    @include list;
}

x-list-header {
    @include list-header;
}

x-list-row {
    @include list-row;
}

x-list-cell {
    @include list-cell;
}
