@import './variables';

.dashi-menu {
    background-color: $color-woodsmoke;

    &.dashi-menu--horizontal {
        height:62px; // parent needs own height as children will float

        .dashi-menuItem  {
            &.dashi-menuItem--active{
                border-right: none;
                border-bottom: 4px solid $color-burningOrange;
            }
        } 
    }

    .dashi-menuItem  {
        &.dashi-menuItem--active{
            border-right: 4px solid $color-burningOrange;
        }
    } 

}


.dashi-menuItem  {
    padding: $universalPadding;
    text-transform: uppercase;

    &:hover {
        background-color: $color-burningOrange;
        color : $color-woodsmoke;
    }
}

