@mixin quietText {
    font-size: var(--bootstrip-font-undersize);
    color: var(--bootstrip-color-paleSky);
}

@mixin disabledBehaviour {
    &:disabled,
    &[disabled] {
        background-color: var(--bootstrip-color-athensGray);
        border-color: var(--bootstrip-color-athensGray);
        color: var(--bootstrip-color-paleSky);
        pointer-events: none;
        &:hover {
            background-color: var(--bootstrip-color-athensGray);
            border-color: var(--bootstrip-color-athensGray);
            color: var(--bootstrip-color-paleSky);
        }
    }
}

@mixin focusBehaviour {
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(var(--bootstrip-color-blackRGB), .15);        
    }
}


@mixin typography-smallHeader {
    font-size: 0.75rem;
    letter-spacing: 0.3px;
}
