@mixin pager-anchor {
    color: var(--bootstrip-color-blueRibbon);
    padding: .375rem .75rem;
    background-color: var(--bootstrip-color-white);
    border: 1px solid #dee2e6;
    transition: var(--bootstrip-transition-standard);
    
    &:hover {
        z-index: 2;
        background-color: var(--bootstrip-color-athensGray);
        border-color: var(--bootstrip-color-athensGray);
    }

    &.active {
        color: var(--bootstrip-color-white);
        background-color: var(--bootstrip-color-blueRibbon);
        border-color: var(--bootstrip-color-blueRibbon);
    }
}

.pager-anchor {
    @include pager-anchor;
}