.sideMenu {
    padding-bottom: 2rem;
    background-color: var(--color-mirage);
}

.sideMenu-linkItem {
    font-size: 1rem;
    transition: var(--transition-standard);

    &:hover {
        background-color: var(--color-mirageDark);
    }

    &.sideMenu-linkItem--active {
        background-color: var(--color-mirageDark);

        .sideMenu-link{
            color: var(--color-mediumPurple);
        }
        .sideMenu-iconWrapper {
            color: var(--color-mediumPurple);
        }
    }
}

.sideMenu-link {
    color: var(--color-ghost);
    padding: 0.75rem 1.25rem;
}

.sideMenu-headerItem {
    font-size: 0.75rem;
    color: var(--color-manatee);
    letter-spacing: 0.3px;
    padding: 1.5rem 1.25rem 0.5rem;
    margin-bottom: 0;    
}

.sideMenu-iconWrapper {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: var(--color-manatee);
    width: 1rem;
}