.sideMenu {
    padding-bottom: 2rem;
}

.sideMenu-linkItem {
    font-size: 1rem;
    transition: var(--transition-standard);

    &:hover {
        background-color: #151829;
    }

    &.sideMenu-linkItem--active {
        background-color: #151829;

        .sideMenu-link{
            color: #8069f2
        }
        .sideMenu-iconWrapper {
            color: #8069f2
        }
    }
}

.sideMenu-link {
    color: #cdced6;
    padding: 0.75rem 1.25rem;
}

.sideMenu-headerItem {
    font-size: 0.75rem;
    color: #8b8e9f;
    letter-spacing: 0.3px;
    padding: 1.56rem 1.25rem 0.63rem;
    margin-bottom: 0;    
}

.sideMenu-iconWrapper {
    margin-right: 1rem;
    font-size: 1.13rem;
    color: #8b8e9f;
    width: 1rem;
}