.table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: var(--color-woodsmoke);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--color-woodsmoke);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--color-woodsmoke);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);

    border-color: var(--color-silverSand);
    color: var(--color-woodsmoke);    

    // gives header its bottom border color
    & > :not(:last-child) >:last-child > * {
        border-bottom-color: var(--color-woodsmoke);
    }

    & >:not(caption) > * > * {
        // default bottom color of all table cells
        border-bottom-color: var(--color-silverSand);
        padding: .5rem .5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    &.table--striped > tbody > tr:nth-of-type(odd) {
        --bs-table-accent-bg: var(--bs-table-striped-bg);
        color: var(--bs-table-striped-color);
    }
}

.table-row--warning {
    background-color: var(--color-barleyWhite);
}

.table-row--danger {
    background-color: var(--color-cherub);
}
