@mixin table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: var(--color-gunPowder);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--color-gunPowder);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--color-gunPowder);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    // need to reapply body lineheight here, as it gets overwritten by agent default css
    line-height: var(--bootstrip-layout-lineheight);
    border-color: var(--color-silverSand);
    color: var(--color-gunPowder);    

    // gives header its bottom border color
    & > :not(:last-child) >:last-child > * {
        border-bottom-color: var(--color-gunPowder);
    }

    & >:not(caption) > * > * {
        // default bottom color of all table cells
        border-bottom-color: var(--color-silverSand);
        padding: .5rem .5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    &.striped > tbody > tr:nth-of-type(odd) {
        --bs-table-accent-bg: var(--bs-table-striped-bg);
        color: var(--bs-table-striped-color);
    }
}

@mixin table-row {
    &.success {
        background-color: var(--bootstrip-color-edgewater);
    }

    &.warning {
        background-color: var(--bootstrip-color-barleyWhite);
    }
    
    &.danger {
        background-color: var(--color-cherub);
    }
}

.table {
    @include table;
}

.table-row {
    @include table;
}
