@import './mixins';

.borderedRight {
    border-right: 1px solid var(--color-iron);
}

.bold {
    font-weight: 600;
}

.loud {
    font-size: 34px;
    font-weight: 600;
}

.quiet {
    @include quietText;    
}

