$color-woodsmoke: #101317;
$color-charade: #2B3038;
$color-abbey: #4E535A;
$color-chamois: #F1D9BE;
$color-burningOrange: #FF662B;
$universalPadding: 16px;
$universalBorderRadius: 5px;
$universalGutter: 2px;