:root {
    --pageClampWidth: 800px;
    --color-barleyWhite: #fff3cd;
    --color-cherub: #f8d7da;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
}