@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --pageClampWidth: 800px;
    --color-barleyWhite: #fff3cd;
    --color-cherub: #f8d7da;
    --layout-universalMargin: 8px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
}