/* max-width area for page-level structure. Do not give this padding, it's for scaffolding only */
.dashiLayout-clamp {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--pageClampWidth);
}

// sections are to divide a page up into blocks
.dashiLayout-section {
    padding: var(--layout-universalMargin);
    display: block;
}

// divides layout into 1 column. First block child will become cells, divs work fine for this
.dashiLayout-column {
    display:grid;
}

// divides layout into 2 column. First block child will become cells, divs work fine for this
.dashiLayout-columns2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

// divides layout into 4 column. First block child will become cells, divs work fine for this
.dashiLayout-columns4 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

// can contain text, images or anything which requires padding around it so as not to colide with adjacent layout sections-
// use this as first level children in columns for exxample
.dashiLayout-content {
    margin-bottom: 1rem!important;
}

clamp {
    @extend .dashiLayout-clamp;
}

section {
    @extend .dashiLayout-section;
}

// cell, but with visual opinions
content {
    @extend .dashiLayout-content;
}

column {
    @extend .dashiLayout-column;
}

columns2 {
    @extend .dashiLayout-columns2;
}

columns4 {
    @extend .dashiLayout-columns4;
}
