@import './variables';

.dashiList {
    padding: 0;
    margin: 0;    
    list-style: none;
    display: grid;
    grid-row-gap: $universalGutter;
    
    &.dashiList--table3 {
        grid-template-columns: repeat(3, 1fr);
        overflow-x: auto;

        .dashiList-item {
            min-width: 100px;
        }
    }
}

.dashiList-item  {
    background-color: $color-charade;
    color: $color-chamois;
    padding: $universalPadding $universalPadding*2;
}