@import './variables';

.dashi-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &.dashi-menu--horizontal {
        white-space: nowrap;

        .dashi-menuItem{
            display:inline-block;   
            margin-bottom: 0;
        }
    }

}


.dashi-menuItem  {
    margin-bottom: 3px;
    &:hover {
        cursor: pointer;
    }
}
