.pager {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.pager-link {
    position: relative;
    display: block;
    color: var(--color-blueRibbon);
    padding: .375rem .75rem;
    text-decoration: none;
    background-color: var(--color-white);
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &.pager-link--active {
        z-index: 3;
        color: var(--color-white);
        background-color: var(--color-blueRibbon);
        border-color: var(--color-blueRibbon);
    }
}