@mixin baseHeader {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

@mixin baseDisplay {
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    margin-block-start: 0;
    margin-block-end: 0;

}

.type-muted {
    display: inherit; // placeholder
}

.type-uppercase {
    text-transform: uppercase;
}

.header1 {
    @include baseHeader;
    margin-top: 3.5rem;
    font-size: 2.5rem;
}

.header2 {
    @include baseHeader;
    margin-top: 3rem;
    font-size: 2rem;
}

.header3 {
    @include baseHeader;
    margin-top: 2rem;
    font-size: 1.75rem;
}

.header4 {
    @include baseHeader;
    font-size: 1.5rem;
}

.header5 {
    @include baseHeader;
    font-size: 1.25rem;
}

.header6 {
    @include baseHeader;
    font-size: 1rem;
}

.display1 {
    @include baseDisplay;
    margin-top: 3.5rem;
    font-size: 5rem;
}

.display2 {
    @include baseDisplay;
    margin-top: 3rem;
    font-size: 4.5rem;
}

.display3 {
    @include baseDisplay;
    margin-top: 2.5rem;
    font-size: 4rem;
}

.display4 {
    @include baseDisplay;
    font-size: 3.5rem;
}

.display5 {
    @include baseDisplay;
    font-size: 3rem;
}

.display6 {
    @include baseDisplay;
    font-size: 2.5rem;
}

h1 {
    @extend .header1;
}

h2 {
    @extend .header2;
}

h3 {
    @extend .header3;
}

h4 {
    @extend .header4;
}

h5 {
    @extend .header5;
}

h6 {
    @extend .header6;
}
