@mixin sideMenu {
    padding-left: 0;
    list-style: none;
}

@mixin sideMenu-item {
    position: relative;
}

@mixin sideMenu-anchor {
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
}

@mixin sideMenu-iconWrapper {
    display: flex;
}

/*
Side menu is meant to be implemented as <ul> or <ol> element, so has only a class export
*/

.sideMenu {
    @include sideMenu;
}

.sideMenu-item {
    @include sideMenu-item;
}

.sideMenu-anchor {
    @include sideMenu-anchor;
}

.sideMenu-iconWrapper {
    @include sideMenu-iconWrapper;
}
