<ul class="sideMenu">
    {{#each items}}
        
        {{#eq type "header"}}
            <li class="sideMenu-header">
                {{../text}}
            </li>
        {{/eq}}

        {{#eq type "link"}}
            <li class="sideMenu-item {{#if ../active}}active{{/if}}">
                <a class="sideMenu-anchor" href="#">
                    <span class="sideMenu-iconWrapper">
                        {{#if ../icon}}
                            <i class="icon {{../icon}}"></i>
                        {{/if}}
                    </span>
                    {{../text}}
                </a>
            </li>
        {{/eq}}

    {{/each}}
</ul>
