<x-content>
    <button class="button">Vanilla</button>
    <button class="button --danger"><i class="icon icon-close"></i> Danger</button>
    <button class="button --success"><i class="icon icon-add"></i> Success</button>
    <button class="button --warning">Warning</button>
    <button class="button --dark">dark</button>
</x-content>

<x-content>
    <button class="button" disabled>Vanilla</button>
    <button class="button --danger" disabled>Danger</button>
    <button class="button --success" disabled>Success</button>
    <button class="button --warning" disabled>Warning</button>
    <button class="button --dark" disabled>Dark</button>    
</x-content>
