@mixin button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

// button is not implemented at the <button>, this is because the class has to exist as a class, to be applied to <a> elements
.button {
    @include button;
}
