:root {
    --bootstrip-color-codeGray: #0c0c0c;  
    --bootstrip-color-shark: #272B30;
    --bootstrip-color-outerSpace: #32383e;
    --bootstrip-color-abbey: #464a4d;
    --bootstrip-color-silveChalice: #aaaaaa;
    
}

body {
    color: var(--bootstrip-color-silveChalice);
    background-color: var(--bootstrip-color-shark);
}