@mixin list {
    background-color: var(--bootstrip-color-outerSpace);
    border: 1px solid var(--bootstrip-color-codeGray);
}

@mixin list-row {
    // don't show first row against the black border of list, this creates
    // an obvious double line
    border-top: none;
    &:not(:first-of-type){
        border-top: 1px solid var(--bootstrip-color-codeGray);
    }
}

.list {
    @include list;
}

x-list {
    @include list;
}

.list-row {
    @include list-row;
}

x-list-row {
    @include list-row;
}