<x-iconStrip>
    {{#each items}}
        <a class="iconStrip-item" href="#" title="{{text}}">
            <i class="icon {{iconClass}}"></i>
            {{#if text}}
                <x-iconStrip-text>{{text}}</x-iconStrip-text>
            {{/if}}
        </a>
    {{/each}}
</x-iconStrip>