.iconStrip {
    display: grid;
}

.iconStrip-item {
    text-align: center;
    a {
        display: block;
        object-fit: cover;
    }
}

.iconStrip-text {
    display: block;
}
