@mixin iconStrip {
    display: grid;
}

@mixin iconStrip-item {
    text-align: center;
    
    a {
        display: block;
        object-fit: cover;
    }
}

@mixin iconStrip-text {
    display: block;
}

x-iconStrip {
    @include iconStrip;
}

x-iconStrip-text {
    @include iconStrip-text;
}

x-iconStrip-item {
    @include iconStrip-item;
}