<div class="iconStrip">
    {{#each items}}
        <a class="iconStrip-item" href="#" title="{{text}}">
            <i class="icon {{iconClass}}"></i>
            {{#if text}}
                <span class="iconStrip-text">{{text}}</span>
            {{/if}}
        </a>
    {{/each}}
</div>