<x-iconStrip>
    {{#each items}}
        <x-iconStrip-item title="{{text}}">
            <a href="#">
                <i class="icon {{iconClass}}"></i>
                {{#if text}}
                    <x-iconStrip-text>{{text}}</x-iconStrip-text>
                {{/if}}
            </a>
        </x-iconStrip-item>
    {{/each}}
</x-iconStrip>