@mixin iconStrip {
    display: grid;
}

@mixin iconStrip-item {
    text-align: center;
    
    a {
        display: block;
        object-fit: cover;
        height: 100%;
    }

    &.--active {
        cursor: default;
        pointer-events: none;
    }
}

@mixin iconStrip-text {
    display: block;
}

.iconStrip {
    @include iconStrip;
}

.iconStrip-text {
    @include iconStrip-text;
}

.iconStrip-item {
    @include iconStrip-item;
}

x-iconStrip {
    @include iconStrip;
}

x-iconStrip-text {
    @include iconStrip-text;
}

x-iconStrip-item {
    @include iconStrip-item;
}