{{#extend "_layout"}}
    {{#content "head"}}
        <link rel="stylesheet" href="/css/theme-light-dashboard.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrip-demo-dashboard.css" type="text/css">
    {{/content}}
    {{#content "body"}}
        <div class="dashboardDemo-page">
            <div class="dashboardDemo-pageNavLeft">
                {{>sideMenu items=sideMenu}}
            </div>

            <div class="dashboardDemo-pageNotNavLeft">
                <div class="dashboardDemo-pageTopMenu">
                    
                </div>
                <div class="dashboardDemo-pageGeneralContent">
                    
                    <x-cards>
                        <x-columns3>
                            {{>card cards.multiGreen}}
                            {{>card cards.multiOrange}}
                            {{>card cards.multiRed}}
                        </x-columns3>

                        <x-columns2>
                            {{>card cards.all}}
                            {{>card cards.all}}
                        </x-columns2>

                        <x-columns2>
                            <div class="card">
                                <div class="card-pad">
                                    <div class="util-flowHorizontal dashboardDemo-strip">
                                        <div>
                                            <div class="type-loud">Rate 56%</div>
                                            <div class="type-quiet">Underperforming</div>
                                        </div>
                                        <div>
                                            <div class="type-loud">Items 129</div>
                                            <div class="type-quiet">Preliminary score</div>
                                        </div>
                                        <i class="icon icon-down"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-pad">
                                    <div class="util-flowHorizontal dashboardDemo-strip">
                                        <div>
                                            <div class="type-loud">Some data</div>
                                        </div>
                                        <div>
                                            <div class="type-loud">More stuff</div>
                                        </div>
                                        <div>
                                            <div class="type-loud">Things</div>
                                            <div class="type-quiet">other</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </x-columns2>

                        <x-columns4>
                            {{>card cards.all}}
                            {{>card cards.all}}
                            {{>card cards.all}}
                            {{>card cards.all}}
                        </x-columns4>
                    </x-cards>

                </div>
            </div>

        </div>
    {{/content}}
{{/extend}}
