{{#extend "_layout"}}
    {{#content "head"}}
        <link rel="stylesheet" href="/css/bootstrip-demo-dashboard.css" type="text/css">
    {{/content}}
    {{#content "body"}}
        <div class="dashboardDemo-page">
            <div class="dashboardDemo-pageNavLeft">
                {{>sideMenu items=sideMenu}}
            </div>

            <div class="dashboardDemo-pageNotNavLeft">
                <div class="dashboardDemo-pageTopMenu">
                    
                </div>
                <div class="dashboardDemo-pageGeneralContent">
                    
                    <div class="dashboardDemo-cards">
                        <x-columns class="three">
                            {{>card cards.multiGreen}}
                            {{>card cards.multiOrange}}
                            {{>card cards.multiRed}}
                        </x-columns>

                        <x-columns class="two">
                            {{>card cards.all}}
                            {{>card cards.all}}
                        </x-columns>

                        <x-columns class="two">
                            <x-card>
                                <x-card-pad>
                                    <div class="flowHorizontal dashboardDemo-strip">
                                        <div>
                                            <div class="type-loud">Rate 56%</div>
                                            <div class="type-quiet">Underperforming</div>
                                        </div>
                                        <div>
                                            <div class="type-loud">Items 129</div>
                                            <div class="type-quiet">Preliminary score</div>
                                        </div>
                                        <i class="icon icon-down"></i>
                                    </div>
                                </x-card-pad>
                            </x-card>
                            <x-card>
                                <x-card-pad>
                                    <div class="flowHorizontal dashboardDemo-strip">
                                        <div>
                                            <div class="type-loud">Some data</div>
                                        </div>
                                        <div>
                                            <div class="type-loud">More stuff</div>
                                        </div>
                                        <div>
                                            <div class="type-loud">Things</div>
                                            <div class="type-quiet">other</div>
                                        </div>
                                    </div>
                                </x-card-pad>
                            </x-card>
                        </x-columns>

                        <x-columns class="four">
                            {{>card cards.all}}
                            {{>card cards.all}}
                            {{>card cards.all}}
                            {{>card cards.all}}
                        </x-columns>
                    </div>

                </div>
            </div>

        </div>
    {{/content}}
{{/extend}}
