{{#extend "_layout"}}
    {{#content "body"}}
        <x-clamp>
            <section>

                <h1 class="display1">Fixed Width Header</h1>

                {{>fixedWidthHeader title="MySite"}}

            </section>
        </x-clamp>
    {{/content}}
{{/extend}}
