{{#extend "_layout"}}
    {{#content "body"}}
        <x-clamp>
            <section>
                <h1 class="display1">Bootstrip</h1>
                
                <p>
                    Bootstrip is a stripped down version of Bootstrap 5, with some extra components thrown in. It is based on the concept
                    of minimal code (markup, Sass and CSS), making it easy to copy/paste into other projects. Minimal covers markup, CSS, selectors, everything.
                    In many cases deliberate design compromises are made to achieve a smaller code base.
                </p>
                <p>
                    Bootstrip also allows custom markup elements. These are optional, and can be used interchangably with standard HTML elements+class selectors.
                </p>

                <h2>Content</h2>
                <ul>
                    <li>
                        <a href="kitchensink.html">Kitchen sink</a> : Everything on a single page
                    </li>
                    <li>
                        <a href="typography.html">Typography</a> : Headers, body content, links etc
                    </li>
                    <li>
                        <a href="fixedWidthHeader.html">Fixed width header</a> : A simple top-of-page header
                    </li>
                </ul>
            </section>
        </x-clamp>
    {{/content}}
{{/extend}}
