<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/theme-default.css" type="text/css">
    </head>

    <!-- Always start with a page element, this controls the general layout of major and 
        expected content blocks like main menu, main header etc, which are placed relative to
        each other
     -->

    <body>
        <clamp>


            <h2>Layout</h2>
            {{>layout}}

            <h2>Typogpraphy</h2>
            {{>typography}}

            <h2>Menu - vertical</h2>
            {{>pageMenu menuType="vertical" items=menuItems}}

            <h2>Menu - horizontal</h2>
            {{>pageMenu menuType="horizontal" items=menuItems}}


            <section>
                <h1>Graphs</h1>
                <div class="dashi-row dashi-row--4cells">
                    <div class="dashi-cell">
                        {{>circlegraph graphId='graph1' percent=14}}
                    </div>
                    <div class="dashi-cell">
                        {{>circlegraph graphId='graph2' percent=78}}
                    </div>                    
                    <div class="dashi-cell">
                        {{>circlegraph graphId='graph3' percent=1}}
                    </div>                    
                    <div class="dashi-cell">
                        {{>circlegraph graphId='graph14' percent=97}}
                    </div>                    
                </div>

                <div class="dashiLegend">
                    <div class="dashiLegend-content">
                        TOTALS - out of 4532 views
                    </div>
                </div>

            </section>


            <h2>Image</h2>
            {{>image}}

            <h2>Figure</h2>
            {{>figure caption="my caption" src="example.jpg"}}

            <h2>list</h2>
            {{>list items=listItems}}

            <section>
                <h2>Table</h2>
                {{>table table.items}}
            </section>

            <section>
                <h2>Table with modfiers</h2>
                {{>table tableModifiers.items}}
            </section>

            <section>
                <h2>Form</h2>
                {{>form}}
            </section>


        </clamp>
       

        <script src="/js/graph.js"></script>
    </body>
</html>