{{#extend "_layout"}}
    {{#content "body"}}
        <x-clamp>
            <section>
                <h1 class="display1">Bootstrip</h1>
                <p>
                    Bootstrip is a stripped down version of Bootstrap 5, with some extra components thrown in.
                </p>

                <h2>Content</h2>
                <ul class="list">
                    <li class="list-row">
                        <div class="list-cell">
                            <a href="kitchensink.html">Kitchen sink</a>
                            <div class="type-mute">
                                Everything on a single page
                            </div>
                        </div>
                        <div class="list-cell">
                            <a href="typography.html">Typography</a>
                        </div>
                    </li>
                </ul>
            </section>
        </x-clamp>
    {{/content}}
{{/extend}}
