{{#extend "_layout"}}
    {{#content "body"}}
        <x-clamp>
            <section>
                <h1 class="display1">Bootstrip</h1>
                
                <p>
                    Bootstrip is a stripped down version of Bootstrap 5, with some extra components thrown in. Bootstrip places a very strong emphasis on
                    minimal code - it is designed to be easy to read and maintain. Every possible effort has been made to keep names short, markup to a 
                    minimum and CSS stripped down. In many cases deliberate design compromises were made to achieve this.
                </p>
 
                <h2>Content</h2>
                <ul>
                    <li>
                        <a href="kitchensink.html">Kitchen sink</a> : Everything on a single page
                    </li>
                    <li>
                        <a href="typography.html">Typography</a> : Headers, body content, links etc
                    </li>
                    <li>
                        <a href="fixedWidthHeader.html">Fixed width header</a> : A simple top-of-page header
                    </li>
                    <li>
                        <a href="dashboard.html">Dashboard</a> : An admin dashboard example.
                    </li>
                </ul>
            </section>
        </x-clamp>
    {{/content}}
{{/extend}}
