{{#extend "_layoutClampedHeader"}}
    {{#content "_layoutClampedHeader.body"}}
        <x-clamp>
            <section>
                <h1 class="display1">Kitchen Sink</h1>
                <p>
                    A single page with every Bootstrip component.
                </p>

                {{!see ./partials/kitchensink-content}}
                {{>kitchensink-content}}

            </section>
        </x-clamp>
    {{/content}}
{{/extend}}
