{{#extend "_layout"}}
    {{#content   "body"}}
        <x-clamp>
            <section>

                <h1 class="display1">Typography</h1>

                {{>typography}}

            </section>
        </x-clamp>
    {{/content}}
{{/extend}}
