/**
 Utility class do one thing only. Their name is always a clear indication of their function.
*/
.util-uppercase {
    text-transform: uppercase;
}

.util-bold {
    font-weight: 700;
}

/*
Causes all children to align horizontally
*/
.util-flowHorizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/**
 * Aligns an element vertically centered
 */
.util-alignVerticallyCentered {
    top: 50%;
    transform: translateY(-50%);
}