/**
 Utility class do one thing only. Their name is always a clear indication of their function.
*/
.uppercase {
    text-transform: uppercase;
}

/*
Causes all children to align horizontally
*/
.flowHorizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%; // need to take up entire parent to ensure proper child height / wrapping

    > * {
        flex-grow: 1;
    }
}

/**
 * Aligns an element vertically centered
 */
.alignVerticallyCentered {
    top: 50%;
    transform: translateY(-50%);
}