/**
 Utility class do one thing only. Their name is always a clear indication of their function.
*/
.uppercase {
    text-transform: uppercase;
}

/*
Causes all children to align horizontally, with top alignment
*/
.flowHorizontal {
    display: flex;
    flex-wrap: wrap;
    height: 100%; // need to take up entire parent to ensure proper child height / wrapping

    > * {
        flex-grow: 1;
    }
}

/**
 * Aligns an element vertically centered
 */
.alignVerticallyCentered {
    top: 50%;
    transform: translateY(-50%);
}

/**
 * Simplified class to align an element vertically and horizontally centered. Can be used on a single element. 
 */
@mixin centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

x-centered {
    @include centered;
}

.centered {
    @include centered;
}
