<x-footer>
    <x-clamp>
        <section>
            <div>
                <h2>Footer header</h2>
            </div>
            <div>
                Footer text
            </div>
            <div>
                <a href="#">Footer link</a>
            </div>
        </section>
    </x-clamp>
</x-footer>