@import './../card/card';

@mixin list {
    @include card;
    list-style: none;
    padding-left: 0;    
}

@mixin list-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@mixin list-cell {
    flex-basis:0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

x-list {
    @include list;
}

.list {
    @include list;
}

x-list-row {
    @include list-row;
}

.list-row {
    @include list-row;
}

x-list-cell {
    @include list-cell;
}

.list-cell {
    @include list-cell;
}
