@import './../card/card';

.list {
    @extend .card;
    list-style: none;
    padding-left: 0;    
}

.list-header {
    @extend .card-header;
}

.list-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list-cell {
    flex-basis:0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

x-list {
    @extend .list;
}

x-list-header {
    @extend .list-header;
}

x-list-row {
    @extend .list-row;
}

x-list-cell {
    @extend .list-cell;
}
