<ul class="list">
    <li class="list-header">
        <h5 class="uppercase">Header</h5> 
    </li>

    {{#each items}}
        <li class="list-row {{#if active}}active{{/if}}">
            <div class="list-cell">
                {{text}}
                <div class="quiet">
                    This is some help
                </div>
            </div>
            <div class="list-cell">
                {{text}}
            </div>
            <div class="list-cell">
                {{text}}
            </div>
        </li>
    {{/each}}
</ul>