<ul class="list {{modifier}}">
    <li class="list-header">
        <h5 class="uppercase">Header</h5> 
    </li>

    {{#each rows}}
        <li class="list-row {{#if active}}--active{{/if}}">
            {{#each cells}}
                <div class="list-cell">
                    {{this.text}}
                    <div class="quiet">
                        {{this.undertext}}
                    </div>
                </div>
            {{/each}}
        </li>
    {{/each}}
</ul>