

@mixin fixedWidthHeader {
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: inherit;
    }

    &.sticky {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    // any clamp in the header is acting for header only, so can override its display property to allow it to maintain header structure
    x-clamp, .clamp {
        display: flex;
    }
}

@mixin fixedWidthHeader-logoContainer {
    width: 15.63rem;
    position: static;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 8rem;
    flex: 0 0 auto;
    padding: 0.5rem 1rem; 
    height: 4rem;    
}

@mixin fixedWidthHeader-content {
    position: static;
    z-index: 5;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
}

@mixin fixedWidthHeader-contentItem {
    margin-left: 3rem;
    position: relative;
}



.fixedWidthHeader {
    @include fixedWidthHeader;
}

.fixedWidthHeader-logoContainer {
    @include fixedWidthHeader-logoContainer;
}

.fixedWidthHeader-content {
    @include fixedWidthHeader-content;
}

.fixedWidthHeader-contentItem {
    @include fixedWidthHeader-contentItem;
}

x-fixedWidthHeader {
    @include fixedWidthHeader;
}

x-fixedWidthHeader-logoContainer {
    @include fixedWidthHeader-logoContainer;
}

x-fixedWidthHeader-content {
    @include fixedWidthHeader-content;
}

x-fixedWidthHeader-contentItem {
    @include fixedWidthHeader-contentItem;
}
