{{!
    Simple header bar with a side aligned logo box, this box has a fixed width.
    Logo box contains an icon and text
}}

<div class="fixedWidthHeader {{#if sticky}}fixedWidthHeader--sticky{{/if}}">
    
    <div class="fixedWidthHeader-logoContainer">
        <a href="/">
            <i class="icon icon-cube"></i>
            <span class="fixedWidthHeader-logo">
                {{title}}
            </span>
        </a>
    </div>

    <div class="fixedWidthHeader-content">
        {{#each items}}
            <div class="fixedWidthHeader-contentItem">
                {{text}}
            </div>
        {{/each}}
    </div>

</div>