<x-alert>
    A simple primary alert with an example link.
</x-alert>

<div class="alert --success">
    A simple success  alert with an example link.
</div>

<x-alert class="--danger">
    A simple danger alert with an example link. 
</x-alert>

<x-alert class="--warning">
    A simple warning alert with an example link.
</x-alert>

<x-alert class="--dark">
    A simple dark alert with an example link. 
</x-alert>