<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 4</h5>
<h5>Header 4</h5>

<p class="header1">Header 1</p>
<p class="header2">Header 2</p>
<p class="header3">Header 3</p>
<p class="header4">Header 4</p>
<p class="header5">Header 5</p>
<p class="header6">Header 6</p>

<h1 class="display1">Display 1</h1>
<h2 class="display2">Display 2</h2>
<h3 class="display3">Display 3</h3>
<h4 class="display4">Display 4</h4>
<h5 class="display5">Display 5</h5>
<h6 class="display6">Display 6</h6>

<p class="quiet">
    Muted text
</p>

<p>
    <a href="#">Link</a>
</p>

<p>
    Display headers stand out more than standard headers, and are normally used at the page level
</p>

<p>
    body text
</p>