@import './../sass_variables.scss';

// divides layout into 1 column. First block child will become cells, divs work fine for this
@mixin columns {
    display: grid;
    column-gap: var(--bootstrip-layout-gutter);
    row-gap: var(--bootstrip-layout-gutter);
    margin-bottom:var(--bootstrip-layout-gutter);
    
    &.--one-two {
        grid-template-columns: 1fr 2fr;

        @media #{$mediaQuery-belowSmall} {
            grid-template-columns: 1fr;
        }
    }
    
    &.--two {
        grid-template-columns: 1fr 1fr;

        @media #{$mediaQuery-belowSmall} {
            grid-template-columns: 1fr;
        }
    }

    &.--two-one {
        grid-template-columns: 2fr 1fr;

        @media #{$mediaQuery-belowSmall} {
            grid-template-columns: 1fr;
        }
    }
    
    &.--three {
        grid-template-columns: 1fr 1fr 1fr;
    
        @media #{$mediaQuery-belowMedium} {
            grid-template-columns: 1fr ;
        }  
    }

    &.--three-one {
        grid-template-columns: 3fr 1fr;
    
        @media #{$mediaQuery-belowMedium} {
            grid-template-columns: 1fr ;
        }  
    }

    &.--one-three {
        grid-template-columns: 1fr 3fr;
    
        @media #{$mediaQuery-belowMedium} {
            grid-template-columns: 1fr ;
        }  
    }
   
    &.--four {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$mediaQuery-belowMedium} {
            grid-template-columns: 1fr 1fr;
        }
    
        @media #{$mediaQuery-belowSmall} {
            grid-template-columns: 1fr;
        }  
    }
}

.columns {
    @include columns;
}

x-columns {
    @include columns;
}

