<x-columns>
    1 column
</x-columns>

<x-columns class="two">
    <div>
        1/2 columns
    </div>
    <div>
        2/2 columns
    </div>    
</x-columns>

<x-columns class="three">
    <div>
        1/3 columns
    </div>
    <div>
        2/3 columns
    </div>    
    <div>
        3/3 columns
    </div>    
</x-columns>

<x-columns class="four">
    <div>
        1/4 columns
    </div>
    <div>
        2/4 columns
    </div>    
    <div>
        3/4 columns
    </div>    
    <div>
        4/4 columns
    </div>        
</x-columns>

<x-columns class="two">
    <div>
        1/2 columns
    </div>
    <div>
        2/2 columns
        <x-columns class="four">
            <div>
                1/4 columns
            </div>
            <div>
                2/4 columns
            </div>    
            <div>
                3/4 columns
            </div>    
            <div>
                4/4 columns
            </div>        
        </x-columns>
    </div>    
</x-columns>

