.strip {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.strip-item {
    flex-basis:0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

x-strip {
    @extend .strip;
}

x-strip-item {
    @extend .strip-item;
}