x-card {
    border: none;
    
    &.--green {
        background-color: var(--bootstrip-color-genoa);
        color: var(--bootstrip-color-white);
    }

    &.--red {
        background-color: var(--bootstrip-color-crownOfThorns);
        color: var(--bootstrip-color-white);
    }

    &.--orange {
        background-color: var(--bootstrip-color-corn);
        color: var(--bootstrip-color-white);
    }
}

