x-card {
    border: none;
    
    &.green {
        background-color: var(--color-genoa);
        color: var(--color-white);
    }

    &.red {
        background-color: var(--color-crownOfThorns);
        color: var(--color-white);
    }

    &.orange {
        background-color: var(--color-corn);
        color: var(--color-white);
    }
}

