.card--green {
    background-color: var(--color-genoa);
    color: var(--color-white);
}

.card--red {
    background-color: var(--color-crownOfThorns);
    color: var(--color-white);
}

.card--orange {
    background-color: var(--color-corn);
    color: var(--color-white);
}
