.dashboardDemo-page {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

.dashboardDemo-pageNavLeft {
    background-color: var(--color-mirage);
    max-height: 100vh;
    min-height: 100vh;       
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 176px;
}

.dashboardDemo-pageNotNavLeft {
    padding-left: 176px; // left padding must accomadate left menu
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboardDemo-strip {
    > div {
        margin-right: 20px;
    }

    padding-right: 24px; // space for icon

    i {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        margin-right: 8px;
        color: var(--color-punch);
    }
}
