@import './../sass_variables.scss';

@mixin header {
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: inherit;
    }

    &.--sticky {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    // any clamp in the header is acting for header only, so can override its display property to allow it to maintain header structure
    x-clamp, .clamp {
        display: flex;
    }
}

@mixin header-logoContainer {
    position: static;
    z-index: 5;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

@mixin header-content {
    position: static;
    z-index: 5;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: row-reverse;
    max-width: 100%;
    display: flex;
    align-items: center;

    @media #{$mediaQuery-belowSmall} {
        position: absolute;
        display: none;
        left: 0;
        right: 0;        

        x-header.--open &,
        .header.--open & {
            display: block;
        }
    }
}

@mixin header-toggle {
    display: none;
    cursor: pointer;
    position: absolute;

    @media #{$mediaQuery-belowSmall} {
        display: block;
    }
}

@mixin header-contentItem {
    position: relative;
    white-space: nowrap; // ensures that icons + text in header elements don't wrap on long content
}

@mixin header-contentItemIconOrText {
    display: inline-block;    
    position: relative;
}

x-header-contentItemIcon, 
.header-contentItemIcon {
    @include header-contentItemIconOrText;
}

x-header-contentItemText, 
.header-contentItemText {
    @include header-contentItemIconOrText;
}

x-header,
.header {
    @include header;
}

x-header-logoContainer,
.header-logoContainer {
    @include header-logoContainer;
}

x-header-content,
.header-content {
    @include header-content;
}

x-header-contentItem,
.header-contentItem {
    @include header-contentItem;
}

x-header-toggle,
.header-toggle {
    @include header-toggle;
}