@mixin badge{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width: fit-content;
}

x-badge {
    @include badge;
}

.badge {
    @include badge;
}
