This is a <x-badge>primary</x-badge> badge. 
There are also <x-badge class="--success">success</x-badge>, 
<span class="badge --danger">danger</span>,
<x-badge class="--dark">dark</x-badge>
and <x-badge class="--warning">warning</x-badge> badges.
