<x-compactSelect>
    <i class="icon icon-down compactSelect-trigger compactSelect-triggerIcon"></i>
    <select>
        <option value="value1">Value 1</option>
        <option value="value2" selected>some other value</option>
    </select>
</x-compactSelect>