// can contain text, images or anything which requires padding around it so as not to colide with adjacent layout sections-
// use this as first level children in columns for exxample
@mixin content {
    display: block;
}


// sections are to divide a page up into blocks
@mixin section {
    padding: var(--layout-gutter);
    display: block;
}

section {
    @include section;
}

// cell, but with visual opinions
x-content {
    @include content;
}

