@mixin card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow:hidden;

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}

@mixin card-stroke {
    position: absolute;
    display: block;
    height: 100%;
}

@mixin card-pad {
    flex: 1 1 auto;
}

.card {
    @include card;
}

.card-stroke {
    @include card-stroke;
}

.card-pad {
    @include card-pad;
}

x-card {
    @include card;
}

x-card-stroke {
    @include card-stroke;
}

x-card-pad {
    @include card-pad;
}

