.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow:hidden;

    &.card--alignRight {
        text-align: right;
    }

    &.card--alignCenter {
        text-align: center;
    }
}

.card-content {
    flex: 1 1 auto;
}

.card-header {
    display: default;// placeholder value so class exists
}

x-card {
    @extend .card;
}

x-card-content {
    @extend .card-content;
}