<x-avatar class="{{#if rounding}}--{{rounding}}{{/if}} {{#if disabled}}--disabled{{/if}}"">
    <a href="#">
        <img class="image" src="https://via.placeholder.com/400x400" />
    </a>
</x-avatar>