@mixin avatar {
    display: inline-block;
    overflow:hidden;
    
    &.--disabled {
        pointer-events: none;
    }
    
    &.--round {
        border-radius: 50%;
    }


    a {
        text-decoration: none;
    }
}

@mixin avatarInitials {
    overflow: hidden;
    display: block;
}

.avatar {
    @include avatar;
}

x-avatar {
    @include avatar;
}

.avatarInitials {
    @include avatarInitials;
}

x-avatarInitials {
    @include avatarInitials;
}