@mixin pager {
    display: flex;
    padding-left: 0;
    list-style: none;
}

@mixin pager-anchor {
    position: relative;
    display: block;
    text-decoration: none;

    &.active {
        z-index: 3;
    }
}

.pager {
    @include pager;
}

.pager-anchor {
    @include pager-anchor;
}