@mixin pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap; // allow pager to wrap to next line if parent isn't large enough for single row
}

@mixin pager-anchor {
    position: relative;
    display: block;
    text-decoration: none;
}

.pager {
    @include pager;
}

.pager-anchor {
    @include pager-anchor;
}
