<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="content-type" name="description" content="A stripped-down version of Bootstrap">
        <meta http-equiv="content-type" name="keywords" content="Frontend,framework,UI,components">
        <title>Bootstrip</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Righteous&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/icons/iconfont.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrip.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrip-defaultTheme.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrip-demo.css" type="text/css">

        {{{block "head"}}}
    </head>
    <body class="demo-body">
        {{>fixedWidthHeader sticky=true title="Bootstrip"}}
        
        {{{block "body"}}}
        <script src="/js/graph.js"></script>
    </body>
</html>