<card>
    {{#if image}}
        <img src="{{image}}">
    {{/if}}
    <cardBody>
        {{#if title}}
            <h5>{{title}}</h5>
        {{/if}}
        {{#if text}}
            <p>{{text}}</p>
        {{/if}}
        {{#if link}}
            <a href="#" class="dashiForm-button">{{link}}</a>
        {{/if}}
    </cardBody>
</card>