<form>
    <content>
        <label for="myemail">Email address</label>
        <input type="email" id="myemail" placeholder="name@example.com">
    </content>

    <content>
        <label for="mytext">Example textarea</label>
        <textarea id="mytext" rows="3"></textarea>
    </content>

    <content>
        <label for="myemail">Email address</label>
        <input type="email" id="myemail" placeholder="name@example.com">
        <help>Help text for a form element can be added here</help>
    </content>

    <content>
        <input type="checkbox" id="mycheck">
        <label for="mycheck">Check me out</label>
    </content>

</form>