<x-columns2>
    <x-content>
        <label for="myemail">Email address</label>
        <input type="email" id="myemail" placeholder="name@example.com">
    </x-content>
    <x-content>
        <label for="myemail">Email address</label>
        <input type="email" id="myemail" placeholder="name@example.com">   
    </x-content>    
</x-columns2>