<div class="demo-kitchenSinkItem">
    <div class="demo-kitchenSinkText">
        <h2 class="util-bold">{{title}}</h2>
        {{#if description}}
            <p>
                {{{description}}}
            </p>
        {{/if}}
    </div>

    {{> @partial-block }}
</div>



