<h2>Layout</h2>

<column>
    1 column
</column>

<columns2>
    <div>
        1/2 columns
    </div>
    <div>
        2/2 columns
    </div>    
</columns2>

<columns4>
    <div>
        1/4 columns
    </div>
    <div>
        2/4 columns
    </div>    
    <div>
        3/4 columns
    </div>    
    <div>
        4/4 columns
    </div>        
</columns4>

<columns2>
    <div>
        1/2 columns
    </div>
    <div>
        <columns4>
            <div>
                2/4 columns
            </div>
            <div>
                2/4 columns
            </div>    
            <div>
                3/4 columns
            </div>    
            <div>
                4/4 columns
            </div>        
        </columns4>
    </div>    
</columns2>

<h2>Content</h2>
<content>
    This is a content block
</content>

<content>
    <content>
    <content>
    <content>
        This is a nested content block
    </content>
    </content>
    </content>
</content>

Page is simplified
- body element is automatically taken over
- section is used to divide page visually into blocks
- row is applied within a section to stack child elements horizontally
- cells are the child content of rows which are stacked horizontally

Layout is for scaffolding only! in which case it arranges elements in a grid but has
not visual opinionating. Stylingwill be applied by whatever elements we put in the scaffold.

To get a layout that we can add content to directly, use a text or media element.