<h2>Layout</h2>

Page is simplified
- body element is automatically taken over
- section is used to divide page visually into blocks
- row is applied within a section to stack child elements horizontally
- cells are the child content of rows which are stacked horizontally

Layout is for scaffolding only! in which case it arranges elements in a grid but has
not visual opinionating. Stylingwill be applied by whatever elements we put in the scaffold.

To get a layout that we can add content to directly, use a text or media element.