<div class="dashi-pageMenu dashi-menu--{{menuType}}">
    <ul class="dashi-menu">
        {{#each items}}
            <li class="dashi-menuItem{{#if active}} dashi-menuItem--active{{/if}}">
               {{text}}
            </li>
        {{/each}}
    </ul>
</div>