<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 4</h5>
<h5>Header 4</h5>
<p class="dashiType-h1">Header 1</p>
<p class="dashiType-h2">Header 2</p>
<p class="dashiType-h3">Header 3</p>
<p class="dashiType-h4">Header 4</p>
<p class="dashiType-h5">Header 5</p>
<p class="dashiType-h6">Header 6</p>

<d1>Display 1</d1>
<d2>Display 2</d2>
<d3>Display 3</d3>
<d4>Display 4</d4>
<d5>Display 5</d5>
<d6>Display 6</d6>
<p class="dashiType-d1">Display 1</p>
<p class="dashiType-d2">Display 2</p>
<p class="dashiType-d3">Display 3</p>
<p class="dashiType-d4">Display 4</p>
<p class="dashiType-d5">Display 5</p>
<p class="dashiType-d6">Display 6</p>
<p>
    Display headers stand out more than standard headers, and are normally used at the page level
</p>

<p>
    body text
</p>